* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #f3f7ec, #71a4ab);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
}

ul {
  list-style-type: none;
}

:root {
  --main-clr: #273d30;
}

.quiz_wrapper {
  background-color: white;
  min-height: 50rem;
  width: 80rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(80, 70, 70);
  padding: 2rem;
}

.quiz_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
}

.quiz_timer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quiz_timer i {
  font-size: 2.5rem;
}

.quiz_timer_text {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.quiz_timer_text > span {
  font-size: 1rem;
  color: #180d0d8e;
}

.quiz_timer_text > p {
  color: var(--main-clr);
  letter-spacing: 3px;
}

button {
  font-weight: bold;
  padding: 0.8rem 2.5rem;
  background-color: var(--main-clr);
  border-radius: 10px;
  color: white;
  border: none;
  transition: 0.5s;
}

.quiz_container {
  display: flex;
}

.quiz_question {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quiz_progress {
  width: 200px;
  position: relative;
}

.quiz_progress svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.quiz_progress circle {
  transform: translate(50%, 50%);
  fill: none;
  stroke: #ddd;
  stroke-width: 10px;
  stroke-linecap: round;
  margin-top: 2rem;
}

#progress {
  stroke: var(--main-clr);
  stroke-dasharray: 250 99999;
}

#progress_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--main-clr);
}

.quiz_question > p {
  font-weight: bold;
  font-size: 1.6rem;
  height: 6rem;
}

.quiz_question ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1.5rem;
}

.quiz_question ul li {
  width: 40%;
  margin-left: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.quiz_question ul li.active {
  background-color: var(--main-clr);
  color: white;
  transition: 0.5s;
}

.quiz_question ul li.false {
  background-color: red;
  color: white;
  transition: 0.5s;
}

.quiz_question ul li span:nth-child(2) {
  margin-left: 1rem;
}

.quiz_numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.quiz_numbers ul {
  display: flex;
  gap: 2rem;
  width: 77%;
  overflow-x: auto;
  padding: 2px;
}

ul::-webkit-scrollbar {
  display: none;
}

ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.quiz_numbers ul li {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border: 2px solid transparent;
}

.quiz_numbers ul li.selected {
  background-color: var(--main-clr);
  color: white;
}

.quiz_numbers ul li.false {
  background-color: red;
}

.quiz_numbers ul li.active {
  border: 2px solid var(--main-clr);
}

.quiz_numbers > button {
  padding: 0.5rem 2rem;
  background-color: white;
  border: 1px solid var(--main-clr);
  color: var(--main-clr);
}
